<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ClientSecret</key>
	<string>1PTYZTOJVPD1ZXMS01CUPYRJCQBTRS50CZUARKRS41TRBEN5</string>
	<key>ClientId</key>
	<string>LH0D1IOIC1SLVTFMNAIVSHHGNF4HKR2K2QSC1NO3MR24H4HV</string>
</dict>
</plist>
